body{
    background-image: url("photo2.png");
    background-color: #185ADB;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height:100vh;
}
.container{
    background-color: rgb(240,240,240);
    border:3px solid white;
    width:30%;
    padding: 20px;
    margin-top:100px;
}
h3{
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
}
#guess{
    padding:10px;
    width:40%;
    font-family: 'Montserrat', sans-serif; 
    font-size: 15px;
    border:none;
}
#btn{
    background-color: #185ADB;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    margin-top: 20px;
    border-radius: 20px;
    padding:20px;
    border:none;
}

@media all and ( max-width: 800px ) {
    #guess{
        width:80px;
        padding:5px;
        font-size:10px;
    }
}
@media all and ( max-width: 500px ) {
    .guess{
        width:150px;
        padding:5px;
        font-size: 10px;
    }
}
